{%extends 'base.html'%}

{%load static%}
{%block title%}

{%endblock title%}

{%block content%}

    <!-- //banner-->
    <!--/banner-bottom -->
    <section class="banner-bottom py-5">
        <div class="container py-md-5">
            <div class="row grids-wthree-info">
                <div class="col-lg-6 bag-img">
                    <img src="{%static 'images/car1.jpeg'%}" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 ab-info-con ab-inf-page text-left">
                    <h4>About Our Products</h4>
                    <p>We are experienced in customer service.</p>
                    <a href="{%url 'product'%}" class="btn shop mt-4">View More</a>
                </div>
            </div>
            <div class="row grids-wthree-info text-center">
                <div class="col-lg-4 ab-content">
                    <div class="ab-info-con">
                        <h4></h4>
                        <p> .</p>
                    </div>
                </div>
                <div class="col-lg-4 ab-content">
                    <div class="ab-info-con">
                        <h4>POCKET FRIENDLY PRICES</h4>
                        <p>We offer the products at affordable prices..</p>
                    </div>
                </div>
                <div class="col-lg-4 ab-content">
                    <div class="ab-info-con">
                        <h4>TALK TO US AT YOUR CONVENIENCE</h4>
                        <p>Our lines are open for business 24/7.</p>
                    </div>
                </div>
        </div>
    </section>

    <!-- /banner-bottom -->
    <!--/banner-bottom -->
  <!--  <section class="collections">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 ab-content-img">

                </div>
                <div class="col-md-4 ab-content text-center p-lg-5 p-3 my-lg-5">
                    <h4></h4>
                    <p>You Can Check Out Some Of Our Stylish Travel Bags.</p>
                    <a href="{%url 'product'%}" class="btn shop mt-3">View Now</a>

                </div>
            </div>
        </div>
    </section>-->
    <!-- /banner-bottom -->
    <!--/collections -->

  <!--  <section class="banner-bottom py-5">
        <div class="container py-md-5">

            <h3 class="title-wthree mb-lg-5 mb-4 text-center">Safety Meets Class</h3>
            <div class="row text-center">


                <div class="col-md-4 content-gd-wthree">
                    <img src="{%static 'images/c1.jpg'%}" class="img-fluid" alt="" />
                </div>
                <div class="col-md-4 content-gd-wthree ab-content py-lg-5 my-lg-5">
                    <h4>Need A Family Car?</h4>
                    <p>We Have Cars With Ample Space
                    <a href="{%url 'product'%}" class="btn shop mt-3">View Now</a>

                </div>
                <div class="col-md-4 content-gd-wthree">
                    <img src="{%static 'images/c2.jpg'%}" class="img-fluid" alt="" />
                </div>
            </div>

        </div>
    </section>-->
    <!-- //collections-->
    <!-- /mid-section -->
    <section class="mid-section">
        <div class="d-lg-flex p-0">
            <div class="col-lg-6 bottom-w3pvt-left p-lg-0">
                <img src="{%static 'images/ab1.jpg'%}" class="img-fluid" alt=""/>
                <div class="pos-wthree">
                    <h4 class="text-wthree">Considerate <br> Customer Discounts.</h4>
                    <a href="{%url 'product'%}" class="btn shop mt-3">View Now</a>
                </div>
            </div>
            <div class="col-lg-6 bottom-w3pvt-left bottom-w3pvt-right p-lg-0">
                <img src="{% static 'images/ab2.jpg'%}" class="img-fluid" alt=""  />
                <div class="pos-w3pvt">
                    <h4 class="text-w3pvt"> Visits <br> For Interested Customers</h4>
                    <a href="{%url 'product'%}" class="btn shop mt-3">View Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //mid-section -->

{%endblock content%}
